h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
  }

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}
  
  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }
